@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root{
  --skool-blue:    #262f9d;
  --skool-red:     #e24333;
  --skool-yellow:  #e7b358;
  --skool-skyblue: #4eb8f3;
  --skool-orange:  #d1513e;

  --blue-5: #339af0;
  --purple-5: #845ef7;
  --orange-6: #fd7e14;
}

*{
  font-family: 'SF Pro Display', sans-serif;
}

body {
  margin: 0;
}
