.createpost-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 90%;
    height: 90%;

    background: #333;
    border: 3px solid white;
    border-radius: 10px;
}

.createpost-form-content {
    position: relative;

    display: flex;

    height: 100%;
    width: 100%;
}

.createpost-form-closebutton-container {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
}

.createpost-form-closebutton-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.createpost-form-formcontainer {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.createpost-form-form-title,
.createpost-form-form-content-textarea,
.createpost-form-form-content-input {
    outline: 1px solid white;
}


.createpost-form-form-title:focus,
.createpost-form-form-content-textarea:focus,
.createpost-form-form-content-input:focus {
    outline: 3px solid white;
}

.createpost-form-form-title:focus::placeholder,
.createpost-form-form-content-textarea:focus::placeholder {
    color: transparent;
}

/* Form Title */
.createpost-form-form-title {
    margin: 3em 1em 1em 1em;
    padding: 0.5em;

    border: none;
    border-radius: 10px;
    background: none;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/* From Content and Polls */
.createpost-form-form-content {
    position: relative;
    margin: 0 1em;
    padding: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 250px;
    max-width: 100%;

    background: none;
}

/* Form Text Area */
.createpost-form-form-content-textarea {
    /* margin: 0 1em; */
    padding: 1em;

    min-height: 250px;
    width: 100%;

    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    border: none;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 1em;
    font-family: 'SF Pro Display', sans-serif;
}

.createpost-form-form-content-polls {
    position: relative;
    margin-left: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 250px;
    width: 30%;
    
    border: 1px solid white;
    border-radius: 10px;
}

.createpost-form-form-polls-remove{
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.25em;

    outline: 1px solid white;
    border: none;
    border-radius: 5px;

    background: none;

    color: white;
}

.createpost-form-form-polls-remove:hover {
    color: black;
    background: white;
    cursor: pointer;
}
/* Container Area for Date, Time, and Create Post button */
.createpost-form-form-datetime-container {
    position: absolute;
    bottom: 1em;
    right: 0.5em;

    display: flex;
    align-items: center;
    height: 3em;
}

/* Date and Time Elements */
.createpost-form-form-content-input {
    margin: 0 0.5em;
    padding: 0.5em;

    border: none;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 1.25em;

}

/* Create Post Button */
.createpost-form-form-content-button {
    margin: 0 0.5em;
    padding: 0.5em;

    outline: 2px solid white;
    border: none;
    border-radius: 10px;
    background: none;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
}

/* Hover Effects */
.createpost-form-form-content-input:hover,
.createpost-form-form-content-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Create Post Date/Time Warning */
.createpost-form-form-content-button-warning {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Date Time Warning */
.createpost-form-form-datetime-warning {
    position: absolute;
    bottom: -2em;

    width: 100%;

    outline: 2px solid white;
    border: none;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    text-align: center;
}

/* Attachments Container */
.createpost-form-form-attachments-container {
    position: absolute;
    bottom: 1em;
    left: 1em;
    padding: 0.5em;

    height: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    outline: 2px solid white;
    border-radius: 10px;
}

.createpost-form-attachment-icon {
    position: relative;
    display: grid;
    place-items: center;

    padding: 0.25em;
    border-radius: 100%;

    color: white;
    font-size: 2em;

    transition: background 0.3s ease, transform 0.3s ease;
}

.createpost-form-attachment-icon:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.25);
    cursor: pointer;
}

.createpost-form-attachment-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    white-space: nowrap;
    padding: 5px;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.4em;

    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 1;
}

.createpost-form-attachment-icon:hover::after {
    opacity: 1;
    /* Show the tooltip */
    transform: translateX(-50%) scaleY(1);
    /* Move the tooltip into position */
}

.createpost-form-action-icon-selected {
    color: red;
}