.error404-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 100vh;

    display: grid;
    place-items: center;

    background-color: var(--primary-black);
}

.error404-content {
    text-align: center;
}

.error404-number {
    font-size: 10em;
    font-weight: bold;
    margin: 0;
    color: var(--primary-blue);
    text-shadow: 1px 1px 5px var(--primary-white);
}

.error404-content > h1 {
    font-size: 250%;
    font-weight: bold;
    color: var(--primary-white);
}

.error404-message {
    font-size: 150%;
    color: var(--primary-white);
}

.error404-button{
    width: 15em;
    height: 5em;
    border-radius: 5px;
}

.error404-link{
    text-decoration: none;
    font-size: 200%;
    font-weight: bold;
    color: var(--primary-black);
}
