/**************/
/*** Header ***/
/**************/

.homepage-header-container{
    /* border: 1px solid red; */
    margin-top: 1em6;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    width: 75%;
    height: 3em;

}

.homepage-header-logo{
    font-size: 2rem;
}

.homepage-header-nav-container{
    /* border: 1px solid blue; */
    
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 1rem;
}

.homepage-header-login-container{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.homepage-header-login-button{
    margin: 0 1.5em;
    padding: 0.5em 1em;
    background: none;

    border: 1px solid white;
    border-radius: 5px;

    text-transform: uppercase;
}

.homepage-header-link{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}


/*****************/
/*** Content 1 ***/
/*****************/

.homepage-content1-container{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-content: center; */
    /* align-items: center; */
    gap: 2.5em;
    
    max-width: 80%;
}

.homepage-content1-left-container{
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */

    width: 100%;
    height: 100%;
}

.homepage-content1-left-title p{
    font-size: 4rem;
    font-weight: bold;
    line-height: 0.1;
    word-wrap: break-word;
}

.homepage-content1-left-body p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
}

.homepage-content1-left-title-skoolcommunity{
    background: -webkit-linear-gradient(45deg, #3093FF, #5256FE 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homepage-content1-right-container{
    border: 1px solid white;
    /* box-shadow: inset 0 0 10px white; */
    box-shadow: 10px 10px 75px #5256FE;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.homepage-content1-left-request-container{
    display: flex;
    align-items: left;
    justify-self: start;
}

.homepage-content1-left-requestButton{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15em;
    height: 3em;

    background: -webkit-linear-gradient(45deg, #3093FF, #5256FE);
    border: none;
    border-radius: 50px;

    color: white;
    font-size: 1.5rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;

    cursor: pointer;
}

.homepage-content1-left-requestButton:hover{
    border: 2px solid white;
}

.homepage-content1-left-requestButton-arrow{
    margin-left: 1em;
    width: 2em;
    height: 1.75em;
    color: #5256FE;
    background: white;
    border-radius: 50px;
}

@media (max-width: 1400px){
    .homepage-content1-left-title p{
        font-size: 3rem;
        line-height: 1;
    }
}