.loginpage-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 750px;
    height: 400px;

    border: 1px solid white;
    border-radius: 15px;

    background: #1d1d1f;
}

/* Login Page Logo */

.loginpage-logo {
    position: absolute;
    top: 1em;
    width: 50%;

}

/* Back Button */

.loginpage-back-button {
    position: absolute;
    top: 0.5em;
    left: 0.5em;

    background: none;
    border-radius: 100%;

    font-size: 2em;

    cursor: pointer;
}

.loginpage-back-button:hover {
    outline: 1px solid #007aff;
}

/* Login Form */

.login-form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.loginpage-input-container {
    position: relative;

    margin-bottom: 1em;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;

    outline: 1px solid white;
    border-radius: 10px;
}

.loginpage-label {
    flex-grow: 0;
    margin-left: 0.5em;
    margin-right: auto;

    font-size: 1.5em;
}

/* Email Label */
.loginpage-input {
    margin: 0.5em 0;
    padding: 0.25em;

    border: none;
    border-radius: 10px;

    background: none;
    outline: 1px solid white;

    color: white;
    font-size: 1.25em;
    width: calc(100% - 5em);
}

.loginpage-input:focus {
    background: #6e6e73;
}

/* Password Label */
.loginpage-password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.loginpage-eye-icon {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;

    font-size: 1.5em;
}

.loginpage-button {
    padding: 0.25em;

    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;

    background: var(--blue-purple-gradient);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.loginpage-button:hover {
    outline: 1px solid white;
}

.loginpage-button-arrow {
    margin-left: 0.5em;
}


/* Login Page Error Message */
.loginpage-errormsg {
    position: absolute;
    bottom: 1em;
    padding: 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 50%;

    border: 2px solid red;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .loginpage-container {
        width: 90%;
        height: 50%;
    }

    .loginpage-logo {
        width: 60%;
    }

    .loginpage-label {
        font-size: 1em;
    }

    .loginpage-input {
        width: calc(100% - 5em);
        font-size: 1em;
    }

    .loginpage-eye-icon{
        font-size: 1.25em;
    }

    .loginpage-button {
        font-size: 1.25em;
        width: 80%;
    }

    .loginpage-errormsg {
        width: 80%;
    }
}